<section class="section hero">
  <div class="hero-inner">
    {{search submit=false instant=settings.instant_search class="search search-full"}}
  </div>
</section>

<div class="container">
  <section class="section home-section knowledge-base">
    <h2>{{t 'knowledge_base'}}</h2>
    <section class="categories article-blocks">
      <ul class="article-blocks-list">
        {{#each categories}}
        {{#each sections}}
        <li class="article-blocks-item">

          <a href='{{url}}' class="article-blocks-item-link">
            <h3 class="article-blocks-item-title">{{name}}</h3>

            </h3>
            <div class="article-blocks-grow">
              {{#each articles}}
              <a href='{{url}}' class="article-blocks-item-description">{{title}}</a>
              {{/each}}
            </div>

        </li>
        {{/each}}
        {{!-- <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <h4 class="blocks-item-title">{{name}}</h4>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li> --}}
        {{/each}}

        {{!-- Static documentation block --}}
        <li class="article-blocks-item">
          <h3 class="article-blocks-item-title">
            <a href='https://www.pdq.com/documentation/' class="article-blocks-item-link">
              Documentation
            </a>
          </h3>
          <div class="article-blocks-grow">
            <a href='https://link.pdq.com/docs-pdqdeploy?Getting%20Started.pdf'
              class="article-blocks-item-description">Deploy Getting Started Guide</a>
            <a href='https://link.pdq.com/?docs-pdqdeploy' class="article-blocks-item-description">Deploy
              Documentation</a>

            <a href='https://link.pdq.com/docs-pdqinventory?Getting%20Started.pdf'
              class="article-blocks-item-description">Inventory
              Getting Started Guide</a>
            <a href='https://link.pdq.com/?docs-pdqinventory' class="article-blocks-item-description">Inventory
              Documentation</a>
          </div>
        </li>

        {{!-- These two invisible flex boxes prevent the bottom sections from expanding --}}
        <li class="article-blocks-item invisible"></li>
        <li class="article-blocks-item invisible"></li>
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
    <section class="articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
  <section class="section home-section community">
    <h2>{{t 'community'}}</h2>
    {{#link 'community' class='community-link'}}
    {{t 'join_conversation'}}
    {{/link}}

    <div class="community-image"></div>
  </section>
  {{/if}}

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
    {{recent_activity}}
    {{/if}}
  </section>
</div>